
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    user-select: none;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding-left: 5vh;
    align-items: center;
    gap: 75%;
    width: 100%;
    position: static;
}

img#dystopia-logo {
    width: 25vh;
}

img#instagram-logo {
    width: 5vh;
}

section#home {
    display: grid;
    grid-template-columns: 62% 50%;
    gap: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
}

img#home-image {
    width: 61%;
    box-shadow: white 0px 5px 15px;
}

.content {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

section#player {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    padding-top: 20vh;
    height: 90vh;
}

.songs {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-transform: uppercase;
}

.player {
    width: 60vh;
    height: 80vh;
    background-color: red;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.song {
    width: 100vh;
    height: 12vh;
    background-color: transparent;
    border: 0px solid white;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: x-large;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}

.song:hover {
    background-color: red;
    box-shadow: 1px 1px 30px red;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

h1 {
    color: red;
    text-transform: uppercase;
}

img#play {
    filter: invert();
    -webkit-filter: invert();
    width: 5vh;
}

img#player-gif {
    width: 50vh;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

img#pause-img {
    width: 20vh;
}

button#pause {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

p#current-song {
    font-size: xx-large;
}